<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/19ffed17-8562-4bb5-8b66-fc08363ccfcc/resourceGroups/RfkRcgTst01/providers/Microsoft.ApiManagement/service/TaskWebApiapi/apis/Hackathon20240817StoreService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/19ffed17-8562-4bb5-8b66-fc08363ccfcc/resourcegroups/TestResourceGroupRfkAb/providers/Microsoft.Web/sites/StoreServiceHackathon20240817</ResourceId>
    <ResourceGroup>TestResourceGroupRfkAb</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://storeservicehackathon20240817.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5af91f49-6825-44fc-b1ba-487752fb7669</ProjectGuid>
    <PublishUrl>https://storeservicehackathon20240817.scm.azurewebsites.net/</PublishUrl>
    <UserName>$StoreServiceHackathon20240817</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>